# Requirements for using Asteroid. Using this file is equivalent to using
# requirements/install.txt. Note that we cannot make this file a symlink to
# requirements/install.txt because of how pip resolves relative paths with -r.
librosa==0.10.0
birdnetlib==0.10.0
panns-inference==0.1.1
noisereduce==2.0.1
-r requirements/install.txt
